.component--accordion--default {
  background-color: lightgray;
  padding: 10px 0;
}

.accordion .accordion__button {
  background: transparent;
  border: 0;
  display: block;
}

.accordion .accordion__button:after {
  content: "+";
}

.accordion .accordion__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.accordion .accordion__button[aria-expanded=true]:after {
  content: "-";
}

.accordion .accordion__content[aria-hidden=false] {
  max-height: 20em;
}
