<button class="modal__trigger" data-micromodal-trigger="{{ id }}">
  {% if trigger %}
    {{ trigger }}
  {% else %}
    {{ 'Open Modal'|t }}
  {% endif %}
</button>
<div id="{{ id }}" {{ attributes.addClass('modal', 'micromodal-slide') }} aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ id }}-title" >

      {% if title %}
      <header class="modal__header">
        <h2 id="{{ id }}-title">
           {{ title }}
        </h2>
      </header>
      {% endif %}

      <main class="modal__content">
        {{ content }}
      </main>

      <footer class="modal__footer">
        {{ footer }}
        <button class="modal__close" data-micromodal-close aria-label="{{ 'Close this dialog window' | t }}"></button>
      </footer>

    </div>
  </div>
</div>
