{#
/**
 * @file
 * Default theme implementation for rdg_tabs.
 *
 * Available variables:
 * - element: Element that will be rendered.
 * - element['link'] : link to the phone number
 *
 * @ingroup themeable
 */
#}

<div {{ attributes.addClass('component', 'component--tabs--default', 'tabs') }}>
	<div class="tab-wrapper">
		<ul role="tablist">
			{% for section in sections %}
				<li role="presentation">
					<button id="{{ section.id }}-title" aria-controls="{{ section.id }}" aria-selected="{{ active_id == section.id ? 'true' : 'false' }}" class="button secondary" role="tab" tabindex="{{ active_id == section.id ? 0 : -1 }}">
						{{ section.title }}
					</button>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% for section in sections %}
		<section id="{{ section.id }}" role="tabpanel" aria-labelledby="{{ section.id }}-title" tabindex="{{ active_id == section.id ? 0 : -1 }}" aria-hidden="{{ active_id == section.id ? 'false' : 'true' }}">
			{{ section.content }}
		</section>
	{% endfor %}
</div>
