{#
/**
 * @file
 * Default theme implementation for rdg_accordion.
 *
 * Available variables:
 * - element: Element that will be rendered.
 * - element['link'] : link to the phone number
 *
 * @ingroup themeable
 */
#}

<div {{ attributes.addClass('component', 'component--accordion--default', 'accordion') }} >
  {% for section in sections %}
    {% set ariaExpanded = section.expanded == 1 ? 'true' : 'false' %}
    {% set ariaHidden = section.expanded == 1 ? 'false' : 'true' %}

    <button aria-controls="{{ section.id }}" aria-expanded="{{ ariaExpanded }}" class="accordion__button" id="{{ section.id }}-title">
      {{ section.title }}
    </button>

    <div aria-hidden="{{ ariaHidden }}" aria-labelledby="{{ section.id }}-title" class="accordion__content" id="{{ section.id }}" role="region">
      {{ section.content }}
    </div>
  {% endfor %}

</div>
